*{
    box-sizing: border-box;
}

html{
    font-family: 'Kumbh Sans', sans-serif;
}

body{
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    margin: 75px 55px 75px 650px;
    font-size: 12px;
}

.caseholder{
    
}

hr{
    
}